.gradient-custom-3 { 
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
.nav-link:hover{
    color: #FF004D;
    text-decoration: underline;
}
.active{
    color:#E89A67 !important;
}